<h1>Despesas</h1>

<table class="tabela">
  <tr>
    <th>Valor</th>
    <th>Nome</th>
    <th>Vencimento</th>
    <th>Paga?</th>
    <th></th>
  </tr>

  <% @despesas.each do |despesa| %>
    <tr>
      <td><%= despesa.valor %></td>
      <td><%= despesa.nome %></td>
      <td><%= despesa.vencimento %></td>
      <% if despesa.paga %>
        <td><span id="pago">PAGO</span></td>
      <% else %>
        <td><span id="nao_pago">A PAGAR</span></td>
      <% end %>
      <td><%= link_to 'Detalhes', despesa %></td>
    </tr>
  <% end %>
</table>

<br />

<%= link_to 'Lançar nova Desesa', new_despesa_path %>
