<p id="notice"><%= notice %></p>

<p>
  <b>Valor:</b>
  <%= @despesa.valor %>
</p>

<p>
  <b>Nome:</b>
  <%= @despesa.nome %>
</p>

<p>
  <b>Descricao:</b>
  <%= @despesa.descricao %>
</p>

<p>
  <b>Vencimento:</b>
  <%= @despesa.vencimento %>
</p>

<p>
  <b>Paga:</b>
  <%= @despesa.paga %>
</p>


<%= link_to 'Edit', edit_despesa_path(@despesa) %> |
<%= link_to 'Back', despesas_path %>
