<h1>Orçamentos</h1>

<table class="tabela">
  <tr>
    <th width="12%">CNPJ</th>
    <th>Nome da Empresa</th>
    <th>Valor</th>
    <th width="10%">Data</th>
    <th width="8%"></th>
  </tr>

<% @orcamentos.each do |orcamento| %>
  <tr>
    <td><%= orcamento.cnpj_empresa %></td>
    <td><%= orcamento.nome_empresa %></td>
    <td>R$&nbsp;<%= orcamento.valor %></td>
    <td><%= orcamento.data %></td>
    <td><%= link_to 'Detalhes', orcamento %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Criar Orçamento', new_orcamento_path %>
