<ul>
  <li><%= link_to "Funcionários", funcionarios_path, :class => "nav_link" %></li>
  <li><%= link_to "Despesas", despesas_path, :class => "nav_link" %></li>
  <li><%= link_to "Clientes", clientes_path, :class => "nav_link" %></li>
  <li><%= link_to "Orçamentos", orcamentos_path, :class => "nav_link" %></li>
  <li><%= link_to "Lançar Ponto do Dia", new_ponto_path, :class => "nav_link" %></li>
  <li><%= link_to "Visualizar Pontos", pontos_path, :class => "nav_link" %></li>
</ul>
